dist: focal
language: rust
if: branch = main

before_script:
  - set -e
  - |
    ZOLA_VERSION="v0.21.0"
    wget https://github.com/getzola/zola/releases/download/$ZOLA_VERSION/zola-$ZOLA_VERSION-x86_64-unknown-linux-gnu.tar.gz
    tar -xvf zola-$ZOLA_VERSION-x86_64-unknown-linux-gnu.tar.gz
    sudo mv zola /usr/local/bin/

script:
  - zola build

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: public
  on:
    branch: main
