{% if paginator %}
  <ul class="pagination">
    {% if paginator.previous %}
      <span class="page-item page-prev">
        <a href="{{ paginator.previous }}" class="page-link" aria-label="Previous">
          <span aria-hidden="true">&larr; Prev</span>
        </a>
      </span>
    {% endif %}

    {% if paginator.next %}
      <span class="page-item page-next">
        <a href="{{ paginator.next }}" class="page-link" aria-label="Next">
          <span aria-hidden="true">Next &rarr;</span>
        </a>
      </span>
    {% endif %}
  </ul>
{% endif %}
