{% extends "base.html" %}

{% macro home_page(section) %}
  <main>
    <article>
      <div class="homepage-hero">
        <img src="{{ get_url(path='avatar.png') }}" alt="{{ config.title }}" class="homepage-hero-avatar" />
        <h1 class="homepage-hero-title">{{ config.title }}</h1>
        <p class="homepage-hero-subtitle">Ph.D. in CSE @ UC Santa Cruz && GPU Engineer @ Samsung</p>
      </div>
      <hr />
      <section class="body">{{ section.content | safe }}</section>
    </article>
  </main>
{% endmacro home_page %}

{% block main_content %}
  {{ self::home_page(section=section) }}
{% endblock main_content %}
