{% extends "base.html" %}
{% import "macros/macros.html" as post_macros %}

{% macro pub_list(pages) %}
  <ul class="publications-list">
    {%- for page in pages %}
      <li class="publication-entry{% if page.extra.award %} has-award{% endif %}">
        {% if page.extra.award %}
          <div class="pub-award-badge">
            <img src="{{ get_url(path='best-paper-badge.png') }}" alt="{{ page.extra.award }}" />
          </div>
        {% endif %}
        <div class="pub-content">
          <strong>{{ page.title }}</strong>
          <br />
          <span class="pub-authors">
            {%- for author in page.extra.authors -%}
              {%- if author == "Yanwen Xu" -%}
                <strong>{{ author }}</strong>
              {%- else -%}
                {{ author }}
              {%- endif -%}
              {%- if not loop.last %}, {% endif -%}
            {%- endfor -%}
          </span>
          <br />
          <em>{{ page.extra.venue_full }}
            ({% if page.extra.venue_url %}<a href="{{ page.extra.venue_url }}">{{ page.extra.venue }}</a>{% else %}{{ page.extra.venue }}{% endif %})
          </em>, {{ page.extra.year }}
          {% if page.extra.award %}
            <strong class="pub-award-text">[{{ page.extra.award }}]</strong>
          {% endif %}
          <br />
          <span class="pub-links">
            {%- if page.extra.pdf %}
              <a href="{{ page.extra.pdf }}">pdf</a>
            {% endif -%}
            {%- if page.extra.slides %}
              <a href="{{ page.extra.slides }}">slides</a>
            {% endif -%}
            {%- if page.extra.poster %}
              <a href="{{ page.extra.poster }}">poster</a>
            {% endif -%}
            {%- if page.extra.video %}
              <a href="{{ page.extra.video }}">video</a>
            {% endif -%}
            {%- if page.extra.code %}
              <a href="{{ page.extra.code }}">code</a>
            {% endif -%}
            {%- if page.extra.doi %}
              <a href="{{ page.extra.doi }}">DOI</a>
            {% endif -%}
          </span>
        </div>
      </li>
    {% endfor -%}
  </ul>
{% endmacro pub_list %}

{% block main_content %}
  {% include "partials/header_image.html" %}

  {{ post_macros::page_header(title=section.title) }}

  <main>
    {%- if paginator %}
      {%- set show_pages = paginator.pages -%}
    {% else %}
      {%- set show_pages = section.pages -%}
    {% endif -%}

    {{ self::pub_list(pages=show_pages) }}
  </main>

  {% if section.content %}
    <div class="section-content">
      <h2>And more!</h2>
      {{ section.content | safe }}
    </div>
  {% endif %}
{% endblock main_content %}
